:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Light-gray);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: var(--White);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.text {
  padding: 15px;
}
h1 {
  color: var(--Dark-blue);
  font-size: 20px;
  margin-bottom: 10px;
}
p {
  color: var(--Grayish-blue);
}
img {
  max-width: 100%;
  border-radius: 10px;
}
@media (min-width: 375px) {
  .container {
    width: 300px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
